body {
  background-color: #e1e8ed;
}



.container {
  
  font-size: 20px;
  color: #757575;
  text-align: justify;

}

.back-image {
  height: 100%;
  width: 100%;
  padding: 0px;
  border: solid 10px #53f2dd;
  border-radius: 50px;
  margin: 50px 10px 50px 10px;
}

.background-image {
  background-image: url(../images/background.png);
  background-size: cover;
  height: 500px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;   
  margin-bottom: 50px;
  
}

p {
  margin-bottom: 50px;
}



img {

  margin-left: 75px;
  width: 300px;
  height: 200px;
  border: solid;

}

.bright_background {
  background-color: #f2f2f2;
}  


button {
  margin-bottom: 15px;
  border-radius: 25px;
  color: white;
  background-color: #757575;
  
 
  
}


/* ---------------------------------- contact form */

input[type=email] {
  width: 100%;
  background-color: white;
  color: #757575;
  padding: 10px 20px;
  margin: 8px 0;
  border: solid #757575 1px;
  border-radius: 4px;
  cursor: pointer;

}

input[type=text] {
  width: 100%;
  background-color: white;
  color: #757575;
  padding: 10px 20px;
  margin: 8px 0;
  border: solid #757575 1px;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit] {
  width: 100px;
  height: 30px;
  border-radius: 25%;
  border: solid #757575 1px;
  margin-top: 10px;
  color: white;
  background-color: #757575;
  margin-bottom: 10px;

}

/* ----------------------------------------- Contat Form */



/* ----------------------------footer */

.footer {
  margin-top: 50px ;
}


.footer_background {
  background-color: #757575;
  height: 75px;
  position: relative;
  width: 100%;
  

}

h4,
a {
  margin-top: 10px;
  text-align: center;
  font-family: 'Exo', sans-serif;
  color: white;
  text-transform: uppercase;
}



@media (Min-Width:768px) {
  
  .footer_box {
  border-right: solid 2px white;
  }
  
}




h1 {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-family: 'Exo', sans-serif;
  background-color: #757575;
  color: white;
  
}

/* ------------------------------footer */