body {
  background-color: #e1e8ed;
}


/* --------------------------------------- headings etc*/

.top_headings {
  background-color: #75757573;
 
}

h1 {
  width: fit-content;
  display: block;
  text-align: center;
  font-size: 40px;
  font-family: 'Exo', sans-serif;
  color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;

}

@media (Min-Width:768px) {

  h1 {
    border-right: solid 3px #f2f2f2;
    border-left: solid 3px #f2f2f2;
  }

} 

h2 {
  text-align: left;
}


h4 {
  margin-top: 10px;
  text-align: center;
  font-family: 'Exo', sans-serif;
  color: white;
  text-transform: uppercase;
}


/*----------------------------------------------- headings etc close */

/*----------------------------------------------- main content */

.container {

  font-size: 20px;
  color: #757575;
  text-align: justify;

}



.background-image {
  background-image: url(../images/background.png);
  background-size: cover;
  height: 450px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;


}

@media (Max-Width:768px) {

  .background-image {
    height: 350px;
  }
}


@media (Max-Width:414px) {

  .background-image {
    height: 200px;
  }
}


.background-image-2 {
  background-image: url(../images/backround_image_2.jpg);
  background-size: cover;
  height: 200px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;

}


p {
  margin-bottom: 50px;

}


.bright_background {
  background-color: #f2f2f2;
}


button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 25px;
  color: white;
  background-color: #af2626;
  border: none;

}

button:hover {
  background-color: #f2f2f2 ;
  color: #757575 ;
  transition-duration: 3s;

}

.red-color {
  color: #af2626 ;
}


a {
  font-family: "Exo", sans-serif;
  color: white;
}


a:hover {
  color: #757575 ;
  transition-duration: 2s;
}



/*----------------------------------------end main content */



/* ---------------------------------- contact form */

input[type=email] {
  width: 100%;
  background-color: white;
  color: #75757573;
  padding: 10px 20px;
  margin: 8px 0;
  border: solid #75757573 1px;
  border-radius: 4px;
  cursor: pointer;

}

input[type=text] {
  width: 100%;
  background-color: white;
  color: #75757573;
  padding: 10px 20px;
  margin: 8px 0;
  border: solid #75757573 1px;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit] {
  width: 100px;
  height: 30px;
  border-radius: 25px;
  border: solid #75757573 1px;
  margin-top: 10px;
  color: white;
  background-color: #75757573;
  margin-bottom: 10px;

}

/* ----------------------------------------- Contact Form */



/* ----------------------------footer */

.footer {
  margin-top: 50px;
}


.footer_background {
  background-color: #75757573;
  height: 75px;
  position: relative;
  width: 100%;


}



@media (Min-Width:768px) {

  .footer_box {
    border-right: solid 2px white;
  }

}


/* ------------------------------footer */
